*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#pic{

    border-radius: 560%;
    height: 400px;
}
#icn{
    font-size: 2rem;
}
#btn{
    font-size: 12px;
    text-align: center;
}

.btn{
    border-radius: 20px;
}

